<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ebs.ecount">

    <permission android:name="android.permission.INTERNET" >
    </permission>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to access network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for the Application process -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"

        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".initial.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".initial.Dashboard"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTabsTheme"

            />

        <activity android:name=".parts_receipt.PartReceiptActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme"
            />


        <activity
            android:name=".parts_physical_counting.Physical_counting_activity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

        <activity
            android:name=".parts_physical_inventory.equipment_inventory_activity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

        <activity
            android:name=".parts_physical_inventory.AttachImageActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

        <activity
            android:name=".parts_receipt.PartsReceivingDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />


        <activity
            android:name=".parts_receipt.ReplacePartsActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

        <activity
            android:name=".parts_receipt.AddFreightActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTabsTheme" />

        <activity android:name=".uidesigns.SimpleScannerActivity"
            android:theme="@style/AppOverlayTheme"
            android:label="@string/scanner_activity"
           >
        </activity>

        <activity
            android:name=".parts_physical_counting.activity_handwrites_match"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

        <activity
            android:name=".parts_physical_counting.activity_handwrites_notmatch"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTabsTheme" />

    </application>

</manifest>